.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.div-header{
    width: 80%;
    padding: 20px;
}

.pagination{
    padding: 10px;
    margin: 20px 0;
}

.pagination > span{
    padding: 20px;
    border: 1px solid #d79898;
    cursor: pointer;
}

.pagination_selected{
    background-color: rgb(231, 64, 64);
    color: white;
}

.pagination_disable{
    opacity: 0;
}